.titleContainer {
    display: flex;
    align-items: center;
}

.title {
    margin-left: 10px;
}

.caretIcon {
    position: relative;
    top: 1.5px;
    margin-right: 5px;
    width: 10px;
}

.caretIcon:hover{
    cursor: pointer;
}

.addRemoveIcon:hover {
    cursor: pointer;
}

.titleIconContainer {
    display: flex;
}

.treeItemContainer {
    flex-grow: 1;
}

